* {
  box-sizing: border-box; }

::selection {
  background-color: #2c97fc;
  color: white; }

::-webkit-scrollbar-track {
  background: #000000; }

body, html {
  background-color: #222;
  color: white;
  min-height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 1.5;
  position: relative; }

body {
  min-height: 100%; }

h1 {
  text-align: center;
  font-size: 56px;
  font-weight: 100;
  margin-bottom: 0; }

h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 100; }

h3 {
  font-weight: 100; }

ul {
  margin: 0;
  padding: 0 0 0 20px; }

#overlay {
  background-color: black;
  opacity: 0;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  position: fixed;
  z-index: -999;
  height: 100%;
  width: 100%; }

#popup {
  height: 80%;
  width: 90%;
  background-color: #222;
  padding: 5% 5vw;
  position: fixed;
  right: 5%;
  top: 10%;
  z-index: -9;
  opacity: 0;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  font-size: 18px; }
  #popup #close {
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 1;
    border-radius: 20px;
    background-color: #ffffff10;
    margin: 20px;
    font-size: 25px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer; }
  #popup #popupcontent {
    height: 100%;
    overflow-y: auto; }
    #popup #popupcontent h2 {
      margin-top: 15px;
      margin-bottom: 15px; }
    #popup #popupcontent .viewlang {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      height: auto; }
      #popup #popupcontent .viewlang .view {
        background-size: cover;
        background-position: center;
        height: 310px;
        width: 600px; }
      #popup #popupcontent .viewlang .lang {
        margin: 0 0 0 0.3vw;
        height: auto;
        width: 300px;
        padding: 0 20px; }
        #popup #popupcontent .viewlang .lang a {
          text-decoration: none;
          font-weight: 300;
          text-align: center;
          display: inline-block;
          width: 250px;
          height: auto;
          padding: 5px 10px;
          margin: 5px 0;
          background-color: #2c97fc;
          color: white;
          transition: background-color 0.3s; }
          #popup #popupcontent .viewlang .lang a:hover {
            background-color: #6eb6f8; }
    #popup #popupcontent p {
      text-align: center;
      margin-top: 40px;
      padding: 0 50px; }

nav {
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 2;
  background-color: transparent;
  height: 80px;
  width: 100%;
  margin-bottom: -80px;
  padding: 0 10px; }
  nav a {
    padding: 20px; }
    nav a i {
      color: #2c97fc;
      font-size: 45px;
      transition: color 0.3s; }
    nav a:hover {
      cursor: pointer; }
      nav a:hover i {
        color: white; }

.homepic-overlay {
  background-color: #0000008d;
  position: absolute;
  z-index: 5;
  height: 100%;
  width: 100%; }

.homepic {
  z-index: 4;
  position: relative;
  height: 100vh;
  overflow-x: hidden;
  background-color: #222; }
  .homepic:before {
    content: "";
    margin: 0 auto;
    filter: blur(0.17rem);
    background-image: url("../img/coding.png");
    background-size: cover;
    background-position: center;
    width: 102%;
    height: 100%;
    position: absolute; }

.hello {
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  z-index: 1;
  width: 100%;
  font-weight: 100;
  font-size: 3.5rem;
  line-height: 1.1; }
  .hello span {
    color: #2c97fc;
    font-weight: 400; }
  .hello:after {
    display: none; }

#proj {
  opacity: 0;
  transition: opacity 1s; }

#portfolio {
  opacity: 0;
  display: flex;
  width: 70vw;
  margin: 20px auto;
  flex-wrap: wrap;
  justify-content: center;
  transition: opacity 1s; }
  #portfolio .projects {
    width: 400px;
    height: 250px;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 0;
    margin: 7px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.6);
    transition: all 0.3s; }
    #portfolio .projects:hover {
      transform: scale(1.02); }
    #portfolio .projects .over {
      margin: 0;
      padding: 65px 0 0 0;
      color: white;
      background-color: #2c97fc;
      opacity: 0;
      text-align: center;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0;
      transition: opacity 0.3s; }
      #portfolio .projects .over:hover {
        opacity: 1;
        cursor: pointer; }
      #portfolio .projects .over h2 {
        font-size: 34px;
        margin: 20px 0 0 0; }
      #portfolio .projects .over h3 {
        margin: 0 5px; }
      #portfolio .projects .over .learn-more {
        height: 50px;
        font-size: 18px;
        font-weight: 300;
        text-align: center;
        padding: 10px;
        margin: 0 auto; }

#about {
  opacity: 0;
  width: 100%;
  margin: 80px auto;
  padding: 80px 0;
  transition: opacity 0.7s;
  background-color: #222; }

.flex {
  display: flex;
  width: 50vw;
  margin: 1px auto;
  height: auto; }
  .flex .content {
    flex: 5;
    padding: 10px 0;
    height: auto; }
    .flex .content p {
      text-align: justify; }
    .flex .content .skills {
      display: flex;
      justify-content: center;
      height: auto; }
      .flex .content .skills ul {
        margin: 1px 5vw;
        position: relative;
        list-style-type: none;
        width: 125px; }
        .flex .content .skills ul li span i {
          color: #2c97fc; }

#contact {
  opacity: 0;
  padding: 200px 5vw;
  color: white;
  background-color: #333;
  transition: opacity 1s; }
  #contact .links {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    background-color: transparent;
    height: 80px;
    width: 100%;
    padding: 0 10px; }
    #contact .links a {
      padding: 20px; }
      #contact .links a i {
        color: #2c97fc;
        font-size: 45px;
        transition: color 0.3s; }
      #contact .links a:hover {
        cursor: pointer; }
        #contact .links a:hover i {
          color: white; }

footer {
  background-color: #1a1a1a;
  min-height: 200px;
  width: 100%;
  color: #666; }
  footer .container {
    height: inherit;
    width: 70%;
    margin: 0 auto;
    padding: 85px 0;
    overflow: hidden;
    text-align: center; }
    footer .container a {
      color: #2c97fc;
      text-decoration: none; }

@media screen and (max-width: 1100px) {
  .hello {
    font-size: 65px;
    text-align: left;
    transform: translateY(-50%); }
  #contact h2 {
    font-size: 4vw; }
  #about p {
    text-align: justify; }
  #about .flex {
    width: 70vw; } }

@media screen and (max-width: 786px) {
  .flex .content .skills {
    flex-direction: column; }
    .flex .content .skills ul {
      margin: 0 auto; }
  #about .flex {
    width: 80vw; } }

@media screen and (max-width: 540px) {
  h1 {
    font-size: 50px; }
  #popup {
    font-size: 16px; }
    #popup #popupcontent .viewlang .view {
      height: 20vh; }
    #popup #popupcontent .viewlang .lang {
      width: 70%; }
      #popup #popupcontent .viewlang .lang a {
        width: 150px;
        margin: 5px auto; }
    #popup #popupcontent p {
      padding: 10px; }
  nav a i, #contact .links a i {
    font-size: 34px; }
  nav a {
    padding: 14px; }
  #portfolio {
    width: 90%; }
  #portfolio .projects {
    height: 28vh;
    width: 94vw; }
    #portfolio .projects .over {
      padding: 5vh 0 0 0; }
  .hello {
    font-size: 54px; }
  #contact h2 {
    font-weight: 300;
    font-size: 5vw; }
  #about .flex {
    width: 90vw; } }
