$sec-col: #29dfff;
$sec-col-hover: rgb(60, 147, 197);
$transition-time: 0.3s;
$link-visited: #a629ff;

//-------Universal--------
* {
  box-sizing: border-box;
}

::selection {
  background-color: $sec-col;
  color: black;
}

::-webkit-scrollbar-track {
  background: #000000;
}

body,
html {
  background-color: #222;
  color: #fdfdfd;
  min-height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
  position: relative;
}

.container {
  width: 850px;
  margin: 0 auto;
  padding: 1rem;
}

.main-content {
  height: 100vh;
}

a {
  color: $sec-col;
  text-decoration: none;
}

a:visited {
  color: $link-visited;
}

h1.section-title {
  font-size: 2.5rem;
  font-weight: 300;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
}

ul {
  margin: 0;
  padding: 0 0 0 20px;
}

#overlay {
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  transition: opacity $transition-time;
  -webkit-transition: opacity $transition-time;
  position: fixed;
  z-index: -999;
  height: 100%;
  width: 100%;
}
//==============\/\/\/\/\/\/\/\/ POPUP \/\/\/\/\/\/\====================

#popup {
  height: 75%;
  width: 85%;
  background-color: #333;
  box-shadow: 30px 30px 120px 50px #0000004d;
  position: fixed;
  right: 7.5%;
  top: 50%;
  transform: translateY(-50%);
  z-index: -9;
  opacity: 0;
  transition: opacity $transition-time;
  -webkit-transition: opacity $transition-time;
  overflow: hidden;
  font-size: 18px;
  #close {
    height: 30px;
    width: 30px;
    color: inherit;
    background-color: #ffffff00;
    text-align: center;
    line-height: 1.15;
    border-radius: 2px;
    margin: 20px;
    font-size: 30px;
    font-weight: 300;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    cursor: pointer;
  }
  .content {
    height: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    .view {
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      margin: 0 0 0 10px;
      height: 100%;
      width: 75%;
    }
    .lang {
      overflow-y: auto;
      margin: 30px 60px 60px 30px;
      padding: 0 30px 30px;
      height: auto;
      width: 25%;
      h2 {
        margin-top: 15px;
      }
      a, a:active {
        color: $sec-col;
      }
      .btn {
        text-decoration: none;
        font-weight: 400;
        text-align: center;
        display: block;
        width: 100%;
        height: auto;
        padding: 10px 10px;
        margin: 5px auto;
        background-color: #444;
        color: inherit;
        transition: background-color $transition-time;
        &:hover {
          background-color: #555;
        }
      }
    }
  }
  p {
    text-align: justify;
    margin-top: 40px;
  }
}

.tech {
  color: $sec-col;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
//========== NAVBAR ==============
nav {
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 2;
  background-color: transparent;
  height: 80px;
  width: 100%;
  margin-bottom: -80px;
  padding: 0;
  a {
    padding: 20px;
    i {
      color: $sec-col;
      font-size: 2rem;
      transition: color $transition-time;
    }
    &:hover {
      i {
        color: white;
      }
      cursor: pointer;
    }
  }
}

//===========  HOME  ==============

.homepic-overlay {
  background-color: #0000008d;
  position: absolute;
  z-index: 5;
  height: 100%;
  width: 100%;
}

.homepic {
  z-index: 4;
  position: relative;
  height: 100vh;
  overflow-x: hidden;
  background-color: #222;
  &:before {
    content: "";
    margin: 0 auto;
    filter: blur(0.17rem);
    background: {
      image: url("../img/coding-min.jpg");
      size: cover;
      position: center;
    }
    width: 102%;
    height: 100%;
    position: absolute;
  }
}
.hello {
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  z-index: 1;
  width: 100%;
  font-weight: 100;
  font-size: 2.5rem;
  line-height: 1.1;
  transition: opacity 1.5s;
  span {
    color: $sec-col;
    font-weight: 300;
  }
  &:after {
    display: none;
  }
}

//=================================== PROJECTS ===========================================
#proj {
  margin-top: 80px;
  opacity: 0;
  transition: opacity 1s;
}
#portfolio {
  opacity: 0;
  display: flex;
  width: 95vw;
  margin: 20px auto;
  flex-wrap: wrap;
  justify-content: center;
  transition: opacity 1s;
  .project {
    width: 400px;
    height: 200px;
    opacity: 0;
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    position: relative;
    padding: 0;
    margin: 15px;
    box-shadow: 0 10px 30px -4px rgba(0, 0, 0, 0.2);
    transition: background-color $transition-time;
    .over {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 3rem 0;
      color: #fdfdfd;
      background-color: #333333ff;
      opacity: 1;
      text-align: center;
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0px;
      left: 0;
      transition: background-color $transition-time, color $transition-time, text-shadow $transition-time;
      &:hover {
        background-color: #444444bc;
        color: #fdfdfd;
        text-shadow: 0px 0px 10px #000f;
        cursor: pointer;
      }
      h2 {
        margin: 5px 0 0 0;
      }
      h3 {
        margin: 0 5px;
      }
      .techs {
        // height: 50px;
        font-size: 1rem;
        font-weight: 400;
        text-align: center;
        padding: 5px;
        margin: 0 auto;
        color: $sec-col;
        transition: color $transition-time;
      }
    }
  }
}

//================= ABOUT ===================
#about {
  margin-top: 80px;
  opacity: 0;
  width: 100%;
  // height:auto;
  padding: 100px 0;
  transition: opacity 0.7s;
}

.about-content {
  .skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0 50px; /* Adjust gap between grid items as needed */
    position: relative;
  }
  .companies {
    display: flex;
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      margin-right: 0.5rem;
      border-radius: 6px;
      background-color: #333;
      a {
        display: block;
        color: white;
        font-weight: 500;
        padding: 2rem;
        width: 100%;
        height: 100%;
        text-decoration: none;
      }
    }
  }
}

//==================== Contact ===================
#contact {
  margin-top: 80px;
  opacity: 0;
  padding: 150px 5vw;
  color: white;
  background-color: #333;
  transition: opacity 1s;
  .email a {
    text-decoration: none;
  }
  .links {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    background-color: transparent; 
    height: 80px;
    width: 100%;
    padding: 0 10px;
    a {
      padding: 20px;
      i {
        color: $sec-col;
        font-size: 45px;
        transition: color $transition-time;
      }
      &:hover {
        i {
          color: white;
        }
        cursor: pointer;
      }
    }
  }
}

//===================== Footr =======================

footer {
  background-color: #222;
  min-height: 200px;
  width: 100%;
  color: #666;
  .container {
    height: inherit;
    width: 70%;
    margin: 0 auto;
    padding: 85px 0;
    overflow: hidden;
    text-align: center;
    a {
      color: $sec-col;
      text-decoration: none;
    }
  }
}

/////////////////////MEDIAQUERIES//////////////////

//================= WIDESCREEN ====================

@media screen and (min-width: 1740px) {
  #portfolio {
    width: 70vw;
  }
  #popup {
    height: 65%;
  }
}
//======================================================

@media screen and (max-width: 1439px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 25px;
  }
  #popup {
    height: 90%;
    width: 70%;
    right: 15%;
    .content {
      flex-direction: column;
      .lang {
        width: 100%;
        height: 50%;
        margin: 0;
        h2 {
          margin: 15px auto 10px;
        }
        h3 {
          text-align: center;
        }
        ul {
          width: 200px;
          margin: 0 auto;
        }
        a {
          display: block;
          margin: 10px auto;
          width: 100%;
        }
        p {
          width: 65%;
          margin: 40px auto 20px;
        }
      }
      .view {
        width: 100%;
        height: 50%;
      }
    }
  }
  .hello {
    font-size: 55px;
  }
  nav a {
    padding: 10px;
  }
  nav a i { 
    font-size: 35px;
  }
}

@media screen and (max-width: 1100px) {
  .hello {
    font-size: 50px;
    transform: translateY(-100%);
  }
  #contact h2 {
    font-size: 4vw;
  }
  #about .content {
    width: 70vw;
  }
}

@media screen and (max-width: 786px) {
  .content .skills {
    ul {
      margin: 0 auto;
    }
  }
  #about .content {
    width: 80vw;
  }
  #popup {
    width: 90%;
    right: 5%;
  }
  .homepic {
    height: 85vh;
  }

  .hello {
    text-align: left;
    padding: 15px;
    transform: translateY(-50%);
  }
}
//================ MOBILE ========================
@media screen and (max-width: 540px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 25px;
  }
  body {
    font-size: 18px;
  }
  .homepic:before {
    background-position: left;
  }
  #popup {
    font-size: 16px;
    width: 95%;
    right: 2.5%;
    #close {
      background-color: inherit;
      margin: 7px;
      font-weight: 300;
    }
    .content {
      overflow-y: hidden;
      flex-wrap: wrap;
      .view {
        height: 200px;
      }
      .lang {
        height: calc(100% - 200px);
        p {
          width: 90%;
        }
      }
    }
  }

  nav a i,
  #contact .links a i {
    font-size: 30px;
  }
  nav a {
    padding: 15px 10px;
  }
  #portfolio {
    width: 90%;
  }
  #portfolio .projects {
    height: 180px;
    width: 94vw;
    .over {
      padding: 5vh 0 0 0;
      h2 {
        font-size: 24px;
      }
      .techs {
        font-size: 15px;
      }
    }
  }
  .hello {
    font-size: 48px;
    top: 45%;
  }
  #contact {
    padding: 100px 5vw;
  }
  #contact h2 {
    font-weight: 300;
    font-size: 5vw;
  }
  #about .content ul {
    padding: 0;
  }
  #about .content ul:nth-child(2) {
    margin-left: 50px;
  }
}
